version: 2.1
orbs:
  cypress: cypress-io/cypress@1
executors:
  with-chrome:
    docker:
      - image: "cypress/browsers:node14.16.0-chrome90-ff88"
workflows:
  build:
    jobs:
      - cypress/run:
          requires:
            - cypress/install
          record: true # record results on Cypress Dashboard
          parallel: true # split all specs across machines
          parallelism: 2 # use 2 CircleCI machines to finish quickly
          group: "all tests" # name this group "all tests" on the dashboard
          start: "npm start" # start server before running tests
          executor: with-chrome
          browser: chrome
          post-steps:
            - store_test_results:
                path: cypress/results
          store_artifacts: true
